#posicionamento {
  background-image: url(https://www.wallpapertip.com/wmimgs/0-6367_firewatch-2017-hd-4k-wallpaper-firewatch-background-iphone.jpg);
  background-position: 50%;
  background-size: cover;
  height: 100%;
  width: 100;
  padding-top: 10%;
  padding-left: 0%

}

#titulo {
  padding-top: 10%;
  padding-left: 0%

}
#soma{
  color: darkgreen;
  display: block;
  position: fixed;
  padding-top: 100%;
  padding-left: 10%
}

#valor{
  color: rgb(17, 218, 104);
}
#produto{
  color: rgb(8, 160, 242);
}

